.pageHeading {
  font-weight: bolder;
//   font-size: 15px;
  color: var(--red);
  margin-bottom: 12px;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid black;
  margin: 1em 0;
  padding: 0;
}

.editorsPicksTitle {
  color: var(--red);
  font-weight: bold;
}

.infiniteCards {
  .avatar {
    width: 30px;
    border-radius: 50%;
  }
  .avatar-bordered {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: white 1px solid;
  }
  .avatar-large {
    width: 50px;
  }
  
  .card {
    height: 250px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    background-size: cover !important;
    color: white;
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .card-user {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .card-category {
    padding: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;
    background-color: var(--red);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.card-category:first-letter {
    text-transform: uppercase;
}
  .card-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  .card-description h2 {
    font-size: 22px;
    font-family: 'Lora', serif;;
  }
  .card-description p {
    font-size: 15px;
  }
  .card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index:2;
    background: black;
    opacity: 0;
  }
  .card-link:hover{
    opacity: 0.1;
  }
  .features img {
    width: 100px;
  }
  .features h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .features p {
    font-size: 15px;
    font-weight: lighter;
  }
}
