.card-title{
  font-family: 'Lora', serif;
  font-weight: 700;
}
.card-text {
  font-size: 16px;
  font-weight: lighter;
  padding-bottom: 20px;
}
.carouselCard {
  border: none;
  height: 460px;
  margin-bottom: 20px;
}
.carouselCardBody {
  padding: 0;
//   padding-bottom: 20px;
}
.carouselCardImg {
  margin-bottom: 10px;
  width: 267.5px;
  height: 180px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.carouselCardEndIcons {
  // display: flex;
  // align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
}

.readMoreButton {
  width: 100px;
}
