.carouselCard {
  border: none;
  height: 400px;
  margin-bottom: 20px;
}
.carouselCardBody {
  padding: 0;
//   padding-bottom: 20px;
}
.carouselCardImg {
  padding-bottom: 10px;
  width: 286px;
  height: 180px;
}
.carouselCardEndIcons {
  // display: flex;
  // align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
}
